
h2 {
    color: #323232;
    font-family: Corbel, Tahoma, Verdana, Arial, Helvetica, sans-serif; 
    text-align: center;
}

p {
    color: #323232;
    font-size: 16px; 
    font-family: Corbel, sans-serif; 
}

ul {
    background-color: #323232; 
    color: white;
    font-family: Verdana, sans-serif;
}

li {
    background-color: #323232; 
    color: white;  
}


body {
    background-color: whitesmoke; 
    width: 960px; 
    margin-left: auto; 
    margin-right: auto; 
}

a {
    text-decoration: none; 
    color: white; 
}

.button {
    display: inline; 
    margin: 50px; 
    text-align: center;
}

.resume {
    background: #323232;
    font-size: 20px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 8px;
}
